<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Speakers</title>
</head>
<body>
    <div layout:fragment="content">

        <!--<label sec:authorize="hasRole('ROLE_SUPERUSER')">fsdfasfaf</label>-->

        <div class="speakers-container">
            <label>Speakers</label>
            <div th:each="speaker, stat : ${speakers}" class="speaker">
                <input type="hidden" name="speakerId" th:value="${speaker.id}">
                <img width="60" height="60" th:src="@{/public/__${speaker.photo}__}" alt="profile photo">
                <a th:href="@{/speaker/__${speaker.id}__}" th:text="|${speaker.firstName} ${speaker.lastName}|"></a><br/>
                <label th:text="${speaker.description}"></label><br/>
                <a th:href="@{speaker.link}" th:text="${speaker.link}"></a><br/>
            </div>
        </div>

        <a th:if="${isModerator} or ${isAdmin}"
           th:href="@{'/speaker/add?activityId='+__${curActivityId}__}">Добавить спикера</a>

        <!--<div th:replace="kfc/_teams :: teams" ></div>-->

        <!--<div th:replace="kfc/_speakers :: speakers" ></div>-->

        <!--<div th:replace="kfc/_forums :: forums" ></div>-->

    </div>

    <div layout:fragment="scripts">

    </div>
</body>
</html>


<!--<div th:if="${!superuser}" class="teams-container">-->
<!--<label>Teams</label>-->
<!--<div th:replace="kfc/_teams :: teams" ></div>-->
<!--</div>-->

<!--<div th:if="${!superuser}" class="speakers-container">-->
<!--<label>Speakers</label>-->
<!--<div th:replace="kfc/_speakers :: speakers" ></div>-->
<!--</div>-->

<!--<div th:if="${superuser}" class="forums-container">-->
<!--<label>Forums</label>-->
<!--<div th:replace="kfc/_forums :: forums" ></div>-->
<!--</div>-->
