<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;suppress ThymeleafVariablesResolveInspection &ndash;&gt;-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--layout:decorate="~{layouts/app}"-->
<!--xmlns:th="http://www.thymeleaf.org/"-->
<!--&gt;-->
<!--<head>-->
<!--<title>Speakers</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="content">-->

<!--<label>Speakers</label>-->
<!--<input type="text"-->
<!--id="speaker-search-input"-->
<!--autocomplete="off"-->
<!--autocorrect="off"-->
<!--autocapitalize="off"-->
<!--spellcheck="false"-->
<!--placeholder="поиск"><br/>-->
<!--<input type="hidden" name="activityId" th:value="${curActivityId}">-->
<!--<div class="speakers-container">-->
<!--<div th:replace="speaker/_speakers_list :: speakers"></div>-->
<!--</div>-->

<!--<a th:if="${isModerator} or ${isAdmin}"-->
<!--th:href="@{'/speaker/add?activityId='+__${curActivityId}__}">Добавить спикера</a>-->

<!--</div>-->




<!--<div layout:fragment="scripts">-->
<!--<script type="text/javascript" src="/static/scripts/search.js"></script>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Спикеры</title>
    <meta charset='UTF-8'>
</head>
<body>

<div class="container-fluid wrapper shedule-wrapper" layout:fragment="content">

    <div class="header-personal header-edit ">
        <a onclick="$.goBack();" class="link">
            <img class="back-icon" src="/static/images/left-arrow.svg"/>
        </a>
        <h2 class="choose-h2">Спикеры</h2>
        <img  class="back-icon search-icon" src="/static/images/search.svg"/>

    </div>

    <form class="search-div row">
        <div class="col-lg-10 col-10">
            <input type="search"
                   id="speaker-search-input"
                   class="form-control"
                   autocomplete="off"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   placeholder="Поиск..."><br/>
            <input type="hidden" name="activityId" th:value="${curActivityId}">
        </div>

    </form>
    <div class="speakers-container content-personal add-event forums-div speakers-wrapper">
        <div th:replace="speaker/_speakers_list :: speakers"></div>
    </div>

    <a th:if="${isModerator} or ${isAdmin}"
       th:href="@{'/speaker/add?activityId='+__${curActivityId}__}"
       class="plus-add-event plus-add-forum">
        <img  class="plus-icon" src="/static/images/add-icon.svg"/>
    </a>

</div>

<div layout:fragment="scripts">
    <script type="text/javascript" src="/static/scripts/search.js"></script>
</div>
</body>
</html>