<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Speaker</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid wrapper">

        <div class="header-personal header-speaker">
            <a onclick="$.goBack();" class="link">
                <img class="back-icon" src="/static/images/left-arrow.svg"/>
            </a>
            <a th:if="${isAdmin} or ${isModerator}" th:href="@{~/speaker/__${speaker.id}__/edit}">
                <img class="back-icon" src="/static/images/edit-white.svg"/>
            </a>
        </div>

        <div class="row header-main personal-head">
            <div class="col-lg-4 col-4">
                <img class="img-profile" th:src="@{/public/__${speaker.photo}__}"/>
            </div>

            <div class="col-lg-8 col-8">
                <h4 th:text="|${speaker.firstName} ${speaker.lastName}|">Иван Иванов</h4>

                <div class="ref-info">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <a th:href="${speaker.link}">
                        <h6 th:text="${speaker.link}" class="info-date-shift">Ссылка</h6>
                    </a>
                </div>
            </div>

        </div>

        <div class="content-personal content-speaker">
            <div class="forum-info">
                <h4>Описание</h4>

                <div class="info-div">
                    <p th:text="${speaker.description}">Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
            <div class="wrapper-cards cards-speaker">
                <h4>Мероприятия</h4>
                <div th:each="event,stat:${events}" th:classappend="${event.shiftEvent}?event-color:team-color" class="card choose-card">
                    <div class="admin-panel-event">
                        <a sec:authorize="hasRole('ROLE_SUPERUSER')"
                           th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__/edit}">
                            <img class="back-icon" src="/static/images/edit-icon.svg"/>
                        </a><br/>
                        <a sec:authorize="hasRole('ROLE_SUPERUSER')"
                           th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__/delete}">
                            <img class="back-icon" src="/static/images/remove-icon.svg"/>
                        </a><br/>
                    </div>
                    <div th:if="${event.shiftEvent}" class="card-header card-header-event">
                        <div class="like-div">
                            <form name="like" th:action="@{/like}" method="POST">
                                <input type="hidden" name="eventId" th:value="${event.id}">
                                <button type="button" class="check-btn like-click-btn">
                                    <div th:classappend="${event.isLike()}?like:like-empty"></div>
                                    <!--<img th:unless="${event.isLike()}" class="back-icon like-empty" src="/static/images/like-empty.svg"/>-->
                                    <!--<img th:if="${event.isLike()}" class="back-icon like" src="/static/images/like.svg"/>-->
                                </button>
                                <p th:text="${event.likes}" class="info-date-shift">20</p>
                            </form>
                        </div>
                        <div class="dislike-div">
                            <form name="dislike" th:action="@{/dislike}" method="POST">
                                <input type="hidden" name="eventId" th:value="${event.id}">
                                <button type="button" class="check-btn dislike-click-btn">
                                    <div th:classappend="${event.isDislike()}?dislike:dislike-empty"></div>
                                    <!--<img th:unless="${event.isDislike()}" class="back-icon dislike-empty" src="/static/images/dislike-empty.svg"/>-->
                                    <!--<img th:if="${event.isDislike()}"   class="back-icon dislike" src="/static/images/dislike.svg"/>-->
                                </button>
                                <p th:text="${event.dislikes}" class="info-date-shift">5</p>
                            </form>
                        </div>
                        <form name="toggleSubscription"  class="event-fav-toggle" th:action="@{/sub}" method="POST">
                            <input type="hidden" name="eventId" th:value="${event.id}">
                            <button  type="button" class="check-btn">

                                <img th:unless="${event.isFavorite()}"  class="back-icon" src="/static/images/star-empty.svg"/>
                                <img th:if="${event.isFavorite()}"  class="back-icon" src="/static/images/star.svg"/>
                            </button>
                            <!--<label th:if="${event.isFavorite()}">Подписан</label>-->
                            <!--<label th:unless="${event.isFavorite()}">Не подписан</label>-->
                        </form>
                    </div>

                    <div class="card-body event-card-body show-dop-info">
                        <div class="main-info-event">
                            <div class="col-lg-11 col-11">
                                <div class="col-lg-11 col-11 info-event show-info">
                                    <p th:text="${event.getFormatStartTime()}" class="card-text info-date-shift"></p>
                                    <p th:text="| - |" class="card-text info-date-shift"></p>
                                    <p th:text="${event.getFormatEndTime()}" class="card-text info-date-shift"></p>
                                    <h5 th:text="${event.name}" class="card-title"></h5>
                                    <p th:text="${event.description}" class="card-text"></p>
                                    <div class="content-line-event">
                                        <img  class="map-icon" src="/static/images/map-icon.svg"/>
                                        <p th:text="${event.place}" class="card-text info-date-shift">Желтый лекторий</p>
                                    </div>
                                    <div th:if="${event.shiftEvent}" class="div-speakers">
                                        <div th:each="speaker:${event.speakers}" class="content-line-event">
                                            <img  class="map-icon" src="/static/images/man-user.svg"/>
                                            <p th:text="|${speaker.firstName} ${speaker.lastName}|"
                                               class="card-text info-date-shift">Иван Иванов</p>
                                        </div>
                                    </div>
                                </div>
                                <th:block th:if="${event.shiftEvent && !event.speakers.isEmpty()}">
                                    <div class="dop-info-div">
                                        <h4>Спикеры</h4>
                                        <th:block th:each="speaker:${event.speakers}">
                                            <div class="col-lg-4 col-4">
                                                <img class="img-profile" th:src="@{/public/__${speaker.photo}__}"/>
                                            </div>
                                            <div class="col-lg-7 col-7">
                                                <h5 th:text="|${speaker.firstName} ${speaker.lastName}|">Иван Иванов</h5>

                                                <div class="ref-info">
                                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                                    <a th:href="${speaker.link}">
                                                        <h6 th:text="${speaker.link}" class="info-date-shift">Ссылка</h6>
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="forum-info">

                                                <h5>Описание</h5>
                                                <div class="info-div info-div-speaker">
                                                    <p th:text="${speaker.description}">Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </th:block>
                            </div>
                            <th:block th:if="${event.shiftEvent}">
                                <div class="col-lg-1 col-1 div-caret">
                                    <th:block th:if="${event.shiftEvent && !event.speakers.isEmpty()}">
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--<div class="wrapper-cards shedule-div">-->
        <!--</div>-->

    </div>

    <!--<a th:if="${isAdmin} or ${isModerator}" th:href="@{~/speaker/__${speaker.id}__/edit}">Изменить</a><br/>-->

    <!--<input type="hidden" name="speakerId" th:value="${speaker.id}">-->
    <!--<img width="60" height="60" th:src="@{/public/__${speaker.photo}__}" alt="profilePhoto"><br/>-->
    <!--<label th:text="|${speaker.firstName} ${speaker.lastName}|"></label><br/>-->
    <!--<a th:href="@{/}" th:text="${speaker.link}"></a><br/>-->
    <!--<label th:text="${speaker.description}"></label><br/>-->

    <!--<div class="speaker-events-container">-->
    <!--<label>Events</label>-->
    <!--<div th:each="event, stat : ${events}" class="event">-->
    <!--<label th:text="${event.name}"></label><br/>-->
    <!--<label th:text="|${event.startDatetime} - ${event.endDatetime}|"></label><br/>-->
    <!--<label th:text="${event.place}"></label><br/>-->
    <!--</div>-->
    <!--</div>-->

</div>

<div layout:fragment="scripts">
    <script type="text/javascript" src="/static/scripts/favorites.js"></script>
    <script type="text/javascript" src="/static/scripts/like_dislike.js"></script>
</div>
</body>
</html>
