<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Speakers</title>
</head>
<body>
    <div layout:fragment="content">

        <label>Speakers</label>
        <input type="text"
               id="speaker-search-input"
               autocomplete="off"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               placeholder="поиск"><br/>
        <input type="hidden" name="activityId" th:value="${curActivityId}">
        <div class="speakers-container">
            <div th:replace="speaker/_speakers_list :: speakers" ></div>
        </div>

        <a th:if="${isModerator} or ${isAdmin}"
           th:href="@{'/speaker/add?activityId='+__${curActivityId}__}">Добавить спикера</a>

    </div>

    <div layout:fragment="scripts">
        <script type="text/javascript" src="/static/scripts/search.js"></script>
    </div>
</body>
</html>


<!--<div th:if="${!superuser}" class="teams-container">-->
<!--<label>Teams</label>-->
<!--<div th:replace="kfc/_teams :: teams" ></div>-->
<!--</div>-->

<!--<div th:if="${!superuser}" class="speakers-container">-->
<!--<label>Speakers</label>-->
<!--<div th:replace="kfc/_speakers :: speakers" ></div>-->
<!--</div>-->

<!--<div th:if="${superuser}" class="forums-container">-->
<!--<label>Forums</label>-->
<!--<div th:replace="kfc/_forums :: forums" ></div>-->
<!--</div>-->
