<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Show activities</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>first name</th>
                <th>last name</th>
                <th>direction</th>
                <th>description</th>
                <th>show</th>
                <th>edit</th>
                <th>delete</th>
                <th><a th:href="@{speaker/add}">add</a></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="speaker:${speakerModels}">
                <td th:text="${speaker.id}"></td>
                <td th:text="${speaker.firstName}"></td>
                <td th:text="${speaker.lastName}"></td>
                <td th:text="${speaker.link}"></td>
                <td th:text="${speaker.description}"></td>
                <td><a th:href="@{speaker/__${speaker.id}__}">Show</a></td>
                <td><a th:href="@{speaker/__${speaker.id}__/edit}">Edit</a></td>
                <td><a th:href="@{speaker/__${speaker.id}__/delete}">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>