<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Add forum</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid wrapper">
        <form th:action="@{/events/add}" th:object="${eventForm}" method="POST">
            <div class="header-personal header-edit">
                <!--<a th:href="@{__${isShift?'/shifts/'+shiftId:'/events/choosing_date'}__}">-->
                    <!--<i class="fa fa-arrow-left" aria-hidden="true"></i>-->
                <a onclick="$.goBack();" class="link">
                    <img  class="back-icon" src="/static/images/left-arrow.svg"/>
                </a>
                <h2 class="choose-h2">Добавить событие</h2>
                <button type="submit" class="check-btn">
                    <img  class="back-icon" src="/static/images/check.svg"/>
                </button>
            </div>

            <div class="content-personal add-event">

                <input th:field="*{name}" type="text" class="form-control col-10" placeholder="Название события"
                       aria-label="Username" aria-describedby="basic-addon1">
                <label th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}" class="invalid-feedback">error
                </label>

                <input th:field="*{place}" type="text" class="form-control col-10" placeholder="Место проведения"
                       aria-label="Username" aria-describedby="basic-addon1">
                <label th:if="${#fields.hasErrors('place')}"
                       th:errors="*{place}" class="invalid-feedback">error
                </label>

                <input th:field="*{startDatetime}" type="text" class="form-control col-10" placeholder="Дата и время начала"
                       aria-label="Username" aria-describedby="basic-addon1"
                       onfocus="this.type='datetime-local';this.setAttribute('onfocus','');this.blur();this.focus();">
                <label th:if="${#fields.hasErrors('startDatetime')}"
                       th:errors="*{startDatetime}" class="invalid-feedback">error
                </label>

                <input th:field="*{endDatetime}" type="text" class="form-control col-10" placeholder="Дата и время конца"
                       aria-label="Username" aria-describedby="basic-addon1"
                       onfocus="this.type='datetime-local';this.setAttribute('onfocus','');this.blur();this.focus();">
                <label th:if="${#fields.hasErrors('endDatetime')}"
                       th:errors="*{endDatetime}" class="invalid-feedback">error
                </label>

                <textarea th:field="*{description}" type="text" class="form-control col-10"
                          placeholder="Описание события"></textarea>
                <label th:if="${#fields.hasErrors('description')}"
                       th:errors="*{description}" class="invalid-feedback">error
                </label>

                <select name="shiftsId" class="form-control col-10" multiple>
                    <th:block th:each="shift:${shifts}">
                        <option th:attr="selected=${shift.id==eventForm.shiftId?'selected':null}"
                                th:value="${shift.id}"
                                th:text="${shift.name}">
                        </option>
                    </th:block>
                </select>
                <label th:if="${#fields.hasErrors('shiftsId')}"
                       th:errors="*{shiftsId}" class="invalid-feedback">error
                </label>

                <input type="hidden" name="redirectType" th:value="${redirectType}">

                <div class="forum-info add-speaker-line">
                    <h4>Спикеры</h4>
                    <div class="cursor-edit">
                        <img  class="plus-icon-edit" src="/static/images/plus-edit.svg"/>
                        <h5>Добавить спикера</h5>
                    </div>
                </div>
            </div>

            <div class="modal" id="infoEvent">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content  modal-edit-team">
                        <div class="modal-header">
                            <h4>Выберите спикеров</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <label th:each="speaker:${speakers}" class="btn  col-lg-12 choose-card">
                                    <input type="checkbox" th:value="${speaker.id}" name="speakersId">
                                    <div class="card-body event-card-body card-body-add-speaker">
                                        <div class="col-lg-4 col-4 img-div">
                                            <img class="img-profile" th:src="@{/public/__${speaker.photo}__}"/>
                                        </div>
                                        <div class=" col-6 infoname-div">
                                            <h5 th:text="|${speaker.firstName} ${speaker.lastName}|">Иван Иванов</h5>
                                            <div class="ref-info">
                                                <i class="fa fa-globe" aria-hidden="true"></i>
                                                <h6 th:text="${speaker.link}" class="info-date-shift">Ссылка</h6>
                                            </div>
                                        </div>

                                        <div class="col-lg-1 col-1 div-caret show-dop-info-speaker">
                                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                        </div>
                                        <div class="dop-info-div about-speaker">
                                            <div class="forum-info">
                                                <h5>Описание</h5>
                                                <p th:text="${speaker.description}">Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-save" data-dismiss="modal">Выбрать</button>
                        </div>
                    </div>
                </div>
            </div>
            <label th:if="${#fields.hasErrors('speakersId')}"
                   th:errors="*{speakersId}" class="invalid-feedback">error
            </label>
            <label th:if="${#fields.hasErrors('shiftId')}"
                   th:errors="*{shiftId}" class="invalid-feedback">error
            </label>
            <input type="hidden" th:field="*{shiftId}">
        </form>
    </div>

    <!--<form th:action="@{/events/add}" th:object="${eventForm}" method="POST">-->
    <!--<p>-->
    <!--<label>Название-->
    <!--<input th:field="*{name}" type="text">-->
    <!--<label th:if="${#fields.hasErrors('name')}"-->
    <!--th:errors="*{name}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Дата и время начала-->
    <!--<input th:field="*{startDatetime}" type="datetime-local">-->
    <!--<label th:if="${#fields.hasErrors('startDatetime')}"-->
    <!--th:errors="*{startDatetime}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Дата и время конца-->
    <!--<input th:field="*{endDatetime}" type="datetime-local">-->
    <!--<label th:if="${#fields.hasErrors('endDatetime')}"-->
    <!--th:errors="*{endDatetime}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Место-->
    <!--<input th:field="*{place}" type="text">-->
    <!--<label th:if="${#fields.hasErrors('place')}"-->
    <!--th:errors="*{place}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Описание-->
    <!--<input th:field="*{description}" type="text">-->
    <!--<label th:if="${#fields.hasErrors('description')}"-->
    <!--th:errors="*{description}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Спикеры-->
    <!--<select th:name="speakersId" multiple>-->
    <!--<th:block th:each="speaker, stat : ${speakers}">-->
    <!--<option th:value="${speaker.id}"-->
    <!--th:text="|${speaker.firstName} ${speaker.lastName}|">Speaker-->
    <!--</option>-->
    <!--</th:block>-->
    <!--</select>-->
    <!--<label th:if="${#fields.hasErrors('speakersId')}"-->
    <!--th:errors="*{speakersId}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<label th:if="${#fields.hasErrors('shiftId')}"-->
    <!--th:errors="*{shiftId}">error-->
    <!--</label>-->
    <!--<input type="hidden" th:field="*{shiftId}">-->
    <!--<input type="submit" value="Создать">-->
    <!--</form>-->
</div>
</body>
</html>