<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Show activities</title>
</head>
<body>
<div layout:fragment="content">
    <p><a th:href="@{/events/choosing_date}">изменить день</a></p>
    <p><a th:href="@{/favorites}">избранное</a></p>
    <p><a th:href="@{/events/add}">добавить событие</a></p>
    <p><a th:href="@{/team_events/add}">добавить командное событие</a></p>
    <p><b>Все</b></p>
    <table>
        <thead>
        <tr>
            <th>day</th>
            <th>name</th>
            <th>start</th>
            <th>end</th>
            <th>place</th>
            <th>description</th>
            <th>is shift event</th>
            <th>likes</th>
            <th>dislikes</th>
            <th>favourite</th>
            <th>speakers count</th>
            <th>show</th>
            <th>edit</th>
            <th>delete</th>
            <th><a th:href="@{/events/add}">add</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event:${events}">
            <td th:text="${event.day}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.startDatetime}"></td>
            <td th:text="${event.endDatetime}"></td>
            <td th:text="${event.place}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.shiftEvent}"></td>
            <th th:text="${event.shiftEvent?event.likes:'-'}"></th>
            <th th:text="${event.shiftEvent?event.dislikes:'-'}"></th>
            <th th:text="${event.shiftEvent?event.favorite:'-'}"></th>
            <th th:text="${event.shiftEvent?event.speakers.size():'-'}"></th>
            <td><a th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__}">Show</a></td>
            <td><a th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__/edit}">Edit</a></td>
            <td><a th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__/delete}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>