<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Расписание</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container-fluid wrapper shedule-wrapper ">
        <div class=" header-personal header-edit header-shedule">
            <a th:href="@{/shifts/__${shiftId}__}">
                <img  class="back-icon" src="/static/images/left-arrow.svg"/>
            </a>
            <h2 class="choose-h2">События смены</h2>
        </div>
        <div class="wrapper-cards shedule-div">

            <div th:each="event,stat:${events}" th:classappend="${event.shiftEvent}?event-color:team-color" class="card choose-card">
                <div class="admin-panel-event">
                    <a sec:authorize="hasRole('ROLE_SUPERUSER')"
                       th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__/edit}">
                        <img class="back-icon" src="/static/images/edit-icon.svg"/>
                    </a><br/>
                    <a sec:authorize="hasRole('ROLE_SUPERUSER')"
                       th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__/delete}">
                        <img class="back-icon" src="/static/images/remove-icon.svg"/>
                    </a><br/>
                </div>
                <div th:if="${event.shiftEvent}" class="card-header card-header-event">
                    <div class="like-div">
                        <form name="like" th:action="@{like}" method="POST">
                            <input type="hidden" name="eventId" th:value="${event.id}">
                            <button type="button" class="check-btn like-click-btn">
                                <div th:classappend="${event.isLike()}?like:like-empty"></div>
                                <!--<img th:unless="${event.isLike()}" class="back-icon like-empty" src="/static/images/like-empty.svg"/>-->
                                <!--<img th:if="${event.isLike()}" class="back-icon like" src="/static/images/like.svg"/>-->
                            </button>
                            <p th:text="${event.likes}" class="info-date-shift">20</p>
                        </form>
                    </div>
                    <div class="dislike-div">
                        <form name="dislike" th:action="@{dislike}" method="POST">
                            <input type="hidden" name="eventId" th:value="${event.id}">
                            <button type="button" class="check-btn dislike-click-btn">
                                <div th:classappend="${event.isDislike()}?dislike:dislike-empty"></div>
                                <!--<img th:unless="${event.isDislike()}" class="back-icon dislike-empty" src="/static/images/dislike-empty.svg"/>-->
                                <!--<img th:if="${event.isDislike()}"   class="back-icon dislike" src="/static/images/dislike.svg"/>-->
                            </button>
                            <p th:text="${event.dislikes}" class="info-date-shift">5</p>
                        </form>
                    </div>
                    <form name="toggleSubscription"  class="event-fav-toggle" th:action="@{sub}" method="POST">
                        <input type="hidden" name="eventId" th:value="${event.id}">
                        <button  type="button" class="check-btn">

                            <img th:unless="${event.isFavorite()}"  class="back-icon" src="/static/images/star-empty.svg"/>
                            <img th:if="${event.isFavorite()}"  class="back-icon" src="/static/images/star.svg"/>
                        </button>
                        <!--<label th:if="${event.isFavorite()}">Подписан</label>-->
                        <!--<label th:unless="${event.isFavorite()}">Не подписан</label>-->
                    </form>
                </div>

                <div class="card-body event-card-body show-dop-info">
                    <div class="main-info-event">
                        <div class="col-lg-11 col-11">
                            <div class="col-lg-11 col-11 info-event show-info">
                                <p th:text="${event.getFormatStartTime()}" class="card-text info-date-shift"></p>
                                <p th:text="| - |" class="card-text info-date-shift"></p>
                                <p th:text="${event.getFormatEndTime()}" class="card-text info-date-shift"></p>
                                <h5 th:text="${event.name}" class="card-title"></h5>
                                <p th:text="${event.description}" class="card-text"></p>
                                <div class="content-line-event">
                                    <img  class="map-icon" src="/static/images/map-icon.svg"/>
                                    <p th:text="${event.place}" class="card-text info-date-shift">Желтый лекторий</p>
                                </div>
                                <div th:if="${event.shiftEvent}" class="div-speakers">
                                    <div th:each="speaker:${event.speakers}" class="content-line-event">
                                        <img  class="map-icon" src="/static/images/man-user.svg"/>
                                        <p th:text="|${speaker.firstName} ${speaker.lastName}|"
                                           class="card-text info-date-shift">Иван Иванов</p>
                                    </div>
                                </div>
                            </div>
                            <th:block th:if="${event.shiftEvent && !event.speakers.isEmpty()}">
                                <div class="dop-info-div">
                                    <h4>Спикеры</h4>
                                    <th:block th:each="speaker:${event.speakers}">
                                        <div class="col-lg-4 col-4">
                                            <img class="img-profile" th:src="@{/public/__${speaker.photo}__}"/>
                                        </div>
                                        <div class="col-lg-7 col-7">
                                            <h5 th:text="|${speaker.firstName} ${speaker.lastName}|">Иван Иванов</h5>

                                            <div class="ref-info">
                                                <i class="fa fa-globe" aria-hidden="true"></i>

                                                <h6 th:text="${speaker.link}" class="info-date-shift">Ссылка</h6>
                                            </div>
                                        </div>

                                        <div class="forum-info">

                                            <h5>Описание</h5>
                                            <div class="info-div info-div-speaker">
                                                <p th:text="${speaker.description}">Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                        </div>
                        <th:block th:if="${event.shiftEvent}">
                            <div class="col-lg-1 col-1 div-caret">
                                <th:block th:if="${event.shiftEvent && !event.speakers.isEmpty()}">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <i class="fa fa-angle-up" aria-hidden="true"></i>
                                </th:block>
                            </div>
                        </th:block>
                    </div>

                </div>
            </div>
        </div>

        <a sec:authorize="hasRole('ROLE_SUPERUSER')" th:href="@{/events/add/shift(shiftId=__${shiftId}__)}" class="plus-add-event">
            <img  class="plus-icon" src="/static/images/add-icon.svg"/>
        </a>
    </div>

    <!--<div th:each="event,stat:${events}" class="event">-->
    <!--<input type="hidden" name="eventId" th:value="${event.id}">-->
    <!--<label th:text="${event.day}"></label><br/>-->
    <!--<label th:text="${event.name}"></label><br/>-->
    <!--<label th:text="|${event.startDatetime} - ${event.endDatetime}|"></label><br/>-->
    <!--<label th:text="${event.place}"></label><br/>-->
    <!--<label th:text="${event.description}"></label><br/>-->
    <!--<label th:text="${event.shiftEvent}"></label><br/>-->
    <!--<label class="likes" th:text="${event.shiftEvent?event.likes:'-'}"></label><br/>-->
    <!--<label class="dislikes" th:text="${event.shiftEvent?event.dislikes:'-'}"></label><br/>-->
    <!--<label th:text="${event.shiftEvent?event.favorite:'-'}"></label><br/>-->
    <!--<label th:text="${event.shiftEvent?event.speakers.size():'-'}"></label><br/>-->
    <!--<a th:href="@{/__${event.shiftEvent?'events':'team_events'}__/__${event.id}__}">Show</a><br/>-->
    <!--<form name="toggleSubscription" th:action="@{sub}" method="POST">-->
    <!--<input type="hidden" name="eventId" th:value="${event.id}">-->
    <!--<button type="button">Избранное</button>-->
    <!--</form>-->
    <!--<div th:if="${event.shiftEvent}">-->
    <!--<form name="like" th:action="@{like}" method="POST">-->
    <!--<input type="hidden" name="eventId" th:value="${event.id}">-->
    <!--<button type="button">Лукас</button>-->
    <!--</form>-->
    <!--<form name="dislike" th:action="@{dislike}" method="POST">-->
    <!--<input type="hidden" name="eventId" th:value="${event.id}">-->
    <!--<button type="button">Дислукас</button>-->
    <!--</form>-->
    <!--</div>-->
    <!--</div>-->

</div>
<div layout:fragment="scripts">
    <script type="text/javascript" src="/static/scripts/like_dislike.js"></script>
    <script type="text/javascript" src="/static/scripts/favorites.js"></script>
</div>
</body>
</html>