<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>datetime</th>
            <th>place</th>
            <th>description</th>
            <th>shift</th>
            <th>speakersCount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event:${eventModels}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.datetime}"></td>
            <td th:text="${event.place}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.shift.name}"></td>
            <td th:text="${event.speakersCount}"></td>
        </tr>
        </tbody>
    </table>
    <form th:action="@{~/sub}" method="POST">
        <button type="submit">toggle sub 1</button>
    </form>
</div>
</body>
</html>