spring.jpa.hibernate.ddl-auto=none
spring.datasource.url=jdbc:mysql://localhost:3306/forumcalendar?useSSL=false
spring.datasource.username=root
spring.datasource.password=

spring.datasource.initialization-mode=always
spring.datasource.platform=all