<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Add team</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{add}"
          th:object="${teamForm}" method="POST">
        <p>
            <label>Название
                <input th:field="*{name}" type="text">
            </label>
        </p>
        <p>
            <label>Направление
                <input th:field="*{direction}" type="text">
            </label>
        </p>
        <p>
            <label>Описание
                <input th:field="*{description}" type="text">
            </label>
        </p>
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>