<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Add shift</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid wrapper">
        <form th:action="@{/shifts/add}" th:object="${shiftForm}" method="POST">
            <div class="header-personal  header-settings header-add">
                <a th:href="@{/shifts(activityId=${shiftForm.activityId})}">
                    <img  class="back-icon" src="/static/images/left-arrow.svg"/>
                </a>
                <h2 class="choose-h2">Создать смену</h2>
                <button type="submit" class="check-btn">
                    <img  class="back-icon" src="/static/images/check.svg"/>
                </button>
            </div>

            <div class="content-personal content-add">
                <div class="forum-info add-forum-div col-11">
                    <input th:field="*{name}" type="text" class="form-control"
                           placeholder="Название смены" aria-label="Username" aria-describedby="basic-addon1">
                    <label th:if="${#fields.hasErrors('name')}"
                           th:errors="*{name}" class="invalid-feedback">error
                    </label>

                    <input th:field="*{startDate}" type="text" class="form-control"
                           placeholder="Дата начала" aria-label="Username" aria-describedby="basic-addon1"
                           onfocus="this.type='date';this.setAttribute('onfocus','');this.blur();this.focus();">
                    <label th:if="${#fields.hasErrors('startDate')}"
                           th:errors="*{startDate}" class="invalid-feedback">error
                    </label>

                    <input th:field="*{endDate}" type="text" class="form-control"
                           placeholder="Дата конца" aria-label="Username" aria-describedby="basic-addon1"
                           onfocus="this.type='date';this.setAttribute('onfocus','');this.blur();this.focus();">
                    <label th:if="${#fields.hasErrors('endDate')}"
                           th:errors="*{endDate}" class="invalid-feedback">error
                    </label>

                    <textarea th:field="*{description}" type="text" class="form-control"
                              placeholder="Описание события"></textarea>
                    <label th:if="${#fields.hasErrors('description')}"
                           th:errors="*{description}" class="invalid-feedback">error
                    </label>
                </div>

                <div th:if="${#fields.hasGlobalErrors()}"
                     th:errors="${shiftForm}" class="invalid-feedback">error
                </div>
                <label th:if="${#fields.hasErrors('activityId')}"
                       th:errors="*{activityId}" class="invalid-feedback">error
                </label>
                <input type="hidden" th:field="*{activityId}">
            </div>
        </form>
    </div>

    <!--<form th:action="@{/shift/add}" th:object="${shiftForm}" method="POST">-->
    <!--<p>-->
    <!--<label>Название-->
    <!--<input th:field="*{name}" type="text">-->
    <!--<label th:if="${#fields.hasErrors('name')}"-->
    <!--th:errors="*{name}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Дата начала-->
    <!--<input th:field="*{startDate}" type="date">-->
    <!--<label th:if="${#fields.hasErrors('startDate')}"-->
    <!--th:errors="*{startDate}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Дата конца-->
    <!--<input th:field="*{endDate}" type="date">-->
    <!--<label th:if="${#fields.hasErrors('endDate')}"-->
    <!--th:errors="*{endDate}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<p>-->
    <!--<label>Описание-->
    <!--<input th:field="*{description}" type="text">-->
    <!--<label th:if="${#fields.hasErrors('description')}"-->
    <!--th:errors="*{description}">error-->
    <!--</label>-->
    <!--</label>-->
    <!--</p>-->
    <!--<label th:if="${#fields.hasErrors('activityId')}"-->
    <!--th:errors="*{activityId}">error-->
    <!--</label>-->
    <!--<input type="hidden" th:field="*{activityId}">-->
    <!--<input type="submit" value="Создать">-->
    <!--</form>-->
</div>
</body>
</html>