<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Show shifts</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid wrapper shedule-wrapper">
        <div class="header-personal header-edit header-forums header-shifts">
            <a onclick="$.goBack();" class="link">
                <img  class="back-icon" src="/static/images/left-arrow.svg"/>
            </a>
            <h2 th:text="${activityName}" class="choose-h2">Территория смыслов</h2>
        </div>

        <div class="shifts-body">
            <h2 class="text-center">Смены</h2>
            <!--<div th:each="shift:${shifts}" class="member-line col-11 content-shifts">-->
                <!--<a th:href="@{/shifts/__${shift.id}__}">-->
                    <!--<h4 th:text="${shift.name}">Смена 1</h4>-->


                <div class="wrapper-cards">
                    <label th:each="shift:${shifts}" class="btn  col-lg-12 choose-card card-shift">
                        <a th:href="@{/shifts/__${shift.id}__}">
                            <div class="card-body">
                                <div class="col-3 col-lg-3">
                                    <img class="img-activity" th:src="@{/public/__${shift.photo}__}"/>
                                </div>
                                <div class="col-7 col-lg-7">
                                    <h5 th:text="|Смена ${shift.name}|" class="card-title"></h5>
                                    <img  class="calendar-icon place-line" src="/static/images/calendar-icon.svg"/>
                                    <p th:text="${shift.getFormatStartDate()}" class="card-text info-date-shift place-line"></p>
                                    <p th:text="| - |" class="card-text info-date-shift place-line"></p>
                                    <p th:text="${shift.getFormatEndDate()}" class="card-text info-date-shift place-line"></p>
                                </div>
                                <div class="col-1 col-lg-1">
                                    <a th:href="@{/shifts/__${shift.id}__/delete}">
                                        <img  class="back-icon" src="/static/images/remove-icon.svg"/>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </label>
                </div>
                <!--</a>-->
            <!--</div>-->
        </div>

        <a th:href="@{/shifts/add(activityId=__${activityId}__)}" class="plus-add-event plus-add-forum">
            <img  class="plus-icon" src="/static/images/add-icon.svg"/>
        </a>
    </div>

    <!--<table>-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th><a th:href="@{/activities/__${activityId}__}">Back to activity</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<th>id</th>-->
    <!--<th>name</th>-->
    <!--<th>team count</th>-->
    <!--<th>start date</th>-->
    <!--<th>end date</th>-->
    <!--<th>show</th>-->
    <!--<th>edit</th>-->
    <!--<th>delete</th>-->
    <!--<th><a th:href="@{/shifts/add(activityId=__${activityId}__)}">add</a></th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr th:each="shift:${shifts}">-->
    <!--<td th:text="${shift.id}"></td>-->
    <!--<td th:text="${shift.name}"></td>-->
    <!--<td th:text="${shift.teamCount}"></td>-->
    <!--<td th:text="${shift.startDate}"></td>-->
    <!--<td th:text="${shift.endDate}"></td>-->
    <!--<td><a th:href="@{/shifts/__${shift.id}__}">Show</a></td>-->
    <!--<td><a th:href="@{/shifts/__${shift.id}__/edit}">Edit</a></td>-->
    <!--<td><a th:href="@{/shifts/__${shift.id}__/delete}">Delete</a></td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
</div>
</body>
</html>