<!--suppress ThymeleafVariablesResolveInspection -->

<div class="modal-body add-shift-modal added-shift choose-card card" xmlns:th="http://www.thymeleaf.org/">

    <!--<h2 class="shift-name" th:text="|Смена ${num+1}|">Смена 1</h2>-->
    <button class="remove-added-shift check-btn" type="button">
        <img  class="back-icon" src="/static/images/remove-icon.svg"/>
    </button>

    <input th:id="|shiftForms${num}.name|"
           th:name="|shiftForms[${num}].name|"
           type="text"
           class="form-control col-10"
           placeholder="Название смены"
           aria-label="Username"
           aria-describedby="basic-addon1">

    <input th:id="|shiftForms${num}.startDate|"
           th:name="|shiftForms[${num}].startDate|"
           type="date" class="form-control col-10"
           placeholder="Дата начала " aria-label="Username"
           aria-describedby="basic-addon1" onfocus="this.type='date';
           this.setAttribute('onfocus','');this.blur();this.focus();">

    <input th:id="|shiftForms${num}.endDate|"
           th:name="|shiftForms[${num}].endDate|"
           type="date" class="form-control col-10"
           placeholder="Дата конца " aria-label="Username"
           aria-describedby="basic-addon1" onfocus="this.type='date';
           this.setAttribute('onfocus','');this.blur();this.focus();">

    <input th:id="|shiftForms${num}.description|"
           th:name="|shiftForms[${num}].description|"
           type="text" class="form-control col-10"
           placeholder="О смене" aria-label="Username"
           aria-describedby="basic-addon1">



</div>