<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Activities</title>
</head>
<body>
    <div layout:fragment="content">

        <label>Forums</label>
        <input type="text"
               id="activity-search-input"
               autocomplete="off"
               autocorrect="off"
               autocapitalize="off"
               spellcheck="false"
               placeholder="поиск"><br/>
        <div class="forums-container">
            <div th:replace="activity/_activities_list :: activities" ></div>
        </div>

        <a th:href="@{/activities/add}">Добавить форум</a>

    </div>

    <div layout:fragment="scripts">
        <script type="text/javascript" src="/static/scripts/search.js"></script>
    </div>
</body>
</html>


<!--<div th:if="${!superuser}" class="teams-container">-->
<!--<label>Teams</label>-->
<!--<div th:replace="kfc/_teams :: teams" ></div>-->
<!--</div>-->

<!--<div th:if="${!superuser}" class="speakers-container">-->
<!--<label>Speakers</label>-->
<!--<div th:replace="kfc/_speakers :: speakers" ></div>-->
<!--</div>-->

<!--<div th:if="${superuser}" class="forums-container">-->
<!--<label>Forums</label>-->
<!--<div th:replace="kfc/_forums :: forums" ></div>-->
<!--</div>-->
