<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;suppress ThymeleafVariablesResolveInspection &ndash;&gt;-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"-->
<!--xmlns:th="http://www.thymeleaf.org/">-->
<!--<head>-->
<!--<title>Add forum</title>-->
<!--</head>-->
<!--<body>-->
<!--<div layout:fragment="content">-->

<!--<form th:action="@{add}" th:object="${activityForm}" method="POST" enctype="multipart/form-data">-->
<!--<p>-->
<!--<label>Название-->
<!--<input th:field="*{name}" type="text">-->
<!--<label th:if="${#fields.hasErrors('name')}"-->
<!--th:errors="*{name}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Описание-->
<!--<input th:field="*{description}" type="text">-->
<!--<label th:if="${#fields.hasErrors('description')}"-->
<!--th:errors="*{description}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<h2>Смена 1</h2>-->
<!--<p>-->
<!--<label>Название-->
<!--<input th:field="*{shiftForms[0].name}" type="text">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[0].name')}"-->
<!--th:errors="*{shiftForms[0].name}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Дата начала-->
<!--<input th:field="*{shiftForms[0].startDate}" type="date">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[0].startDate')}"-->
<!--th:errors="*{shiftForms[0].startDate}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Дата конца-->
<!--<input th:field="*{shiftForms[0].endDate}" type="date">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[0].endDate')}"-->
<!--th:errors="*{shiftForms[0].endDate}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Описание-->
<!--<input th:field="*{shiftForms[0].description}" type="text">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[0].description')}"-->
<!--th:errors="*{shiftForms[0].description}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label th:if="${#fields.hasErrors('shiftForms[0]')}"-->
<!--th:errors="*{shiftForms[0]}">error-->
<!--</label>-->
<!--</p>-->
<!--<h2>Смена 2</h2>-->
<!--<p>-->
<!--<label>Название-->
<!--<input th:field="*{shiftForms[1].name}" type="text">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[1].name')}"-->
<!--th:errors="*{shiftForms[1].name}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Дата начала-->
<!--<input th:field="*{shiftForms[1].startDate}" type="date">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[1].startDate')}"-->
<!--th:errors="*{shiftForms[1].startDate}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Дата конца-->
<!--<input th:field="*{shiftForms[1].endDate}" type="date">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[1].endDate')}"-->
<!--th:errors="*{shiftForms[1].endDate}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label>Описание-->
<!--<input th:field="*{shiftForms[1].description}" type="text">-->
<!--<label th:if="${#fields.hasErrors('shiftForms[1].description')}"-->
<!--th:errors="*{shiftForms[1].description}">error-->
<!--</label>-->
<!--</label>-->
<!--</p>-->
<!--<p>-->
<!--<label th:if="${#fields.hasErrors('shiftForms[1]')}"-->
<!--th:errors="*{shiftForms[1]}">error-->
<!--</label>-->
<!--</p>-->
<!--<button type="button">Добавить смену</button>-->
<!--<label th:if="${#fields.hasErrors('shiftForms[0].activityId')}"-->
<!--th:errors="*{shiftForms[0].activityId}">error-->
<!--</label>-->
<!--<input type="submit" value="Создать">-->
<!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Добавление форума</title>
    <meta charset='UTF-8'>
</head>
<body>

<div class="container-fluid wrapper" layout:fragment="content">
    <form th:action="@{add}" th:object="${activityForm}" method="POST">
        <div class="header-personal  header-settings header-add">
            <a onclick="history.back();" class="link">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <h2 class="choose-h2">Создать форум</h2>
            <button type="submit">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>

        <div class="content-personal content-add">

            <div class="forum-info add-forum-div col-11">

                <input th:field="*{name}" type="text" class="form-control" placeholder="Название форума"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}">error</label>

                <input th:field="*{place}" type="text" class="form-control" placeholder="Место"
                       aria-label="Username"
                       aria-describedby="basic-addon1">
                <label th:if="${#fields.hasErrors('place')}" th:errors="*{place}">error</label>

                <input th:field="*{description}" type="text" class="form-control" placeholder="О форуме..."
                       aria-label="Username"
                       aria-describedby="basic-addon1">
                <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}">error</label>

                <input type="text" class="form-control" placeholder="Дата начала" aria-label="Username"
                       aria-describedby="basic-addon1">

                <input type="text" class="form-control" placeholder="Дата конца" aria-label="Username"
                       aria-describedby="basic-addon1">

            </div>

            <div class="forum-info add-forum-div col-11 add-forum-shift">
                <h4>Смены</h4>

                <div class="shift-container">

                    <div th:each="shift, stat:${activityForm.shiftForms}"
                          class="modal-body add-shift-modal added-shift">

                        <h2 class="shift-name" th:text="|Смена ${stat.index+1}|"></h2>
                        <button class="remove-added-shift" type="button">Удалить смену</button>

                        <input type="hidden" th:field="*{shiftForms[__${stat.index}__].id}">

                        <input th:field="*{shiftForms[__${stat.index}__].name}" type="text" class="form-control col-10"
                               placeholder="Название смены" aria-label="Username" aria-describedby="basic-addon1">
                        <label th:if="${#fields.hasErrors('shiftForms['+__${stat.index}__+'].name')}"
                               th:errors="*{shiftForms[__${stat.index}__].name}">error</label>

                        <input th:field="*{shiftForms[__${stat.index}__].startDate}" type="date"
                               class="form-control col-10"
                               placeholder="Дата начала " aria-label="Username"
                               aria-describedby="basic-addon1" onfocus="this.type='date';
                                   this.setAttribute('onfocus','');this.blur();this.focus();">
                        <label th:if="${#fields.hasErrors('shiftForms['+__${stat.index}__+'].startDate')}"
                               th:errors="*{shiftForms[__${stat.index}__].startDate}">error</label>

                        <input th:field="*{shiftForms[__${stat.index}__].endDate}" type="date"
                               class="form-control col-10"
                               placeholder="Дата конца " aria-label="Username"
                               aria-describedby="basic-addon1" onfocus="this.type='date';
                                   this.setAttribute('onfocus','');this.blur();this.focus();">
                        <label th:if="${#fields.hasErrors('shiftForms['+__${stat.index}__+'].endDate')}"
                               th:errors="*{shiftForms[__${stat.index}__].endDate}">error</label>

                        <input th:field="*{shiftForms[__${stat.index}__].description}" type="text"
                               class="form-control col-10"
                               placeholder="О смене" aria-label="Username" aria-describedby="basic-addon1">
                        <label th:if="${#fields.hasErrors('shiftForms['+__${stat.index}__+'].description')}"
                               th:errors="*{shiftForms[__${stat.index}__].description}">error</label>

                        <label th:if="${#fields.hasErrors('shiftForms['+__${stat.index}__+']')}"
                               th:errors="*{shiftForms[__${stat.index}__]}">error
                        </label>

                    </div>

                </div>

                <div class="add-shift-btn link">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <h5>Добавить смену</h5>
                </div>

            </div>
        </div>

    </form>


    <!--<div class="modal " id="editModalTeam">-->
    <!--<div class="modal-dialog modal-dialog-centered">-->
    <!--<div class="modal-content  modal-edit-team">-->
    <!--<div class="modal-header">-->
    <!--<h4>Создать смену</h4>-->
    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
    <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
    <!--</div>-->
    <!--<div class="modal-body add-shift-modal">-->
    <!--<input type="text" class="form-control col-10" placeholder="Название смены" aria-label="Username"-->
    <!--aria-describedby="basic-addon1">-->
    <!--<input type="text" class="form-control col-10" placeholder="Дата начала " aria-label="Username"-->
    <!--aria-describedby="basic-addon1" onfocus="this.type='date';-->
    <!--this.setAttribute('onfocus','');this.blur();this.focus();">-->
    <!--<input type="text" class="form-control col-10" placeholder="Дата конца " aria-label="Username"-->
    <!--aria-describedby="basic-addon1" onfocus="this.type='date';-->
    <!--this.setAttribute('onfocus','');this.blur();this.focus();">-->
    <!--</div>-->
    <!--<div class="modal-footer">-->

    <!--<button type="button" class="btn btn-primary" data-dismiss="modal">Добавить</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>

<div layout:fragment="scripts">
    <script type="text/javascript" src="/static/scripts/activity.js"></script>
</div>

</body>
</html>
