<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Test</title>
</head>
<body>
<div layout:fragment="content">

    <form th:action="@{~/user/getLink}" method="POST">
        <p>
            <label>Роль<br/>
                <th:block th:each="role, stat : ${teamRoles}">
                    <input checked type="radio"
                           th:name="teamRoleId"
                           th:value="${role.getId()}"
                           th:text="${role.getName()}">
                </th:block>
            </label>
        </p>
        <p>
            <label>Команда
                <select th:name="teamId">
                    <th:block th:each="team, stat : ${teamsList}">
                        <option selected
                                th:value="${team.getUserTeamIdentity().getTeam().getId()}"
                                th:text="${team.getUserTeamIdentity().getTeam().getName()}">Team
                        </option>
                    </th:block>
                </select>
            </label>
        </p>
        <input type="submit" value="Отправить">
    </form>
</div>
</body>
</html>