<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>User profile</title>
</head>
<body>
<div layout:fragment="content">
    <p>
        <b>Фотография:</b><br>
        <img width="60" height="60" th:src="@{/public/__${user.photo}__}" alt="">
    </p>

    <p><b>Имя: </b><span th:text="${user.firstName}"></span></p>
    <p><b>Фамилия: </b><span th:text="${user.lastName}"></span></p>

    <p><b>Социальные сети:</b></p>
    <p th:each="contact: ${user.contacts}">
        <b th:text="|${contact.contactTypeName}: |"></b>
        <span th:text="${contact.link}"></span>
    </p>
    <a th:if="${isMyPage}" th:href="@{~/user/__${user.id}__/edit}">Изменить</a>

</div>
</body>
</html>