<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Профиль</title>
</head>
<body>
<div layout:fragment="content">
    <!--<p>-->
    <!--<b>Фотография:</b><br>-->
    <!--<img width="60" height="60" th:src="@{/public/__${user.photo}__}" alt="">-->
    <!--</p>-->

    <!--<p><b>Имя: </b><span th:text="${user.firstName}"></span></p>-->
    <!--<p><b>Фамилия: </b><span th:text="${user.lastName}"></span></p>-->

    <!--<p><b>Социальные сети:</b></p>-->
    <!--<p th:each="contact:${user.contacts}">-->
    <!--<b th:text="|${contact.contactTypeName}: |"></b>-->
    <!--<span th:text="${contact.link}"></span>-->
    <!--</p>-->
    <!--<a th:if="${isMyPage}" th:href="@{~/user/__${user.id}__/edit}">Изменить</a>-->

    <div class="container-fluid wrapper wrapper-personal">
        <div class="header-personal">
            <a onclick="$.goBack();"><img  class="back-icon" src="/static/images/left-arrow.svg"/></a>

            <img  class="back-icon refresh" src="/static/images/refresh.svg"/>
            <a id="ellipsisEditPersonal"><img  class="back-icon" src="/static/images/dots.svg"/></a>

        </div>

        <div class="row header-main personal-head">
            <div class="col-lg-4 col-4">
                <img class="img-profile" th:src="@{/public/__${user.photo}__}"/>
            </div>
            <div class="col-lg-8 col-8">
                <h4 th:text="|${user.firstName} ${user.lastName}|">Иван Иванов</h4>
                    <h6>Команда 28</h6>
            </div>
        </div>

        <div class="content-personal">
            <div class="forum-info">
                <h4>О форуме</h4>
                <div class="name-div col-5">
                    <h5>Форум</h5>
                    <h5>Направление</h5>
                </div>
                <div class="info-div col-6">
                    <h5 th:text="${activity}"></h5>
                    <h5 th:text="${shift}"></h5>
                </div>
            </div>

            <div th:if="${hasSocial}" class="forum-info">
                <h4>Соц. сети</h4>
                <div th:unless="${user.contacts[0].link==null||user.contacts[0].link.isEmpty()}" class="content-line col-lg-12 col-xs-12">
                    <img  class="back-icon" src="/static/images/vk.svg"/>
                    <h5 th:text="${user.contacts[0].link}"></h5>
                </div>
                <div th:unless="${user.contacts[1].link==null||user.contacts[1].link.isEmpty()}" class="content-line col-lg-12 col-xs-12">
                    <img  class="back-icon" src="/static/images/telegram.svg"/>
                    <h5 th:text="${user.contacts[1].link}"></h5>
                </div>
            </div>
        </div>

        <div class="modal " id="modalDopMenu">
            <div class="modal-dialog ">
                <div class="modal-content modal-edit-personal">
                    <div th:if="${isMyPage}" class="modal-header">
                        <a th:href="@{/user/__${user.id}__/edit}">Изменить</a>
                    </div>
                    <div class="modal-body">
                        <a>Открыть в браузере</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>