<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <div>
            <p th:text="${someValue}" class="lead">Exception</p>
        </div>

        <form sec:authorize="isAuthenticated()" action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"/>
            <button type="submit" class="btn navbar-btn ml-2 text-white btn-outline-secondary btn-sm"><i
                    class="fa d-inline fa-lg fa-user-times"></i> Sign out
            </button>
        </form>

    </body>
</html>