<!--suppress ThymeleafVariablesResolveInspection -->
<div th:fragment="teams" xmlns:th="http://www.thymeleaf.org/">

    <div th:if="${#lists.isEmpty(teams)}">
        <label>По вашему запросу ничего не было найдено</label>
    </div>
    <div th:unless="${#lists.isEmpty(teams)}">
        <div th:each="team,stat:${teams}" class="member-line col-11">
            <a th:href="@{/team/__${team.id}__}">
            <h4 th:text="${team.name}"></h4>
        </a>
        <input type="hidden" name="teamId" th:value="${team.id}">
            <!--<label th:text="${team.description}"></label><br/>-->
        </div>
    </div>
</div>

