<!--suppress ThymeleafVariablesResolveInspection -->

<div th:fragment="teams" xmlns:th="http://www.thymeleaf.org/">
    <div th:each="team, stat : ${teams}" class="team" >
        <input type="hidden" name="teamId" th:value="${team.id}">
        <a th:href="@{/team/__${team.id}__}" th:text="${team.name}"></a><br/>
        <label th:text="${team.description}"></label><br/>
    </div>
    <div th:if="${#lists.isEmpty(teams)}">
        <label>По вашему запросу ничего не было найдено</label>
    </div>
</div>

