<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Teams</title>
</head>
<body>
<div layout:fragment="content">

    <label>Teams</label><br/>
    <input type="text"
           id="team-search-input"
           autocomplete="off"
           autocorrect="off"
           autocapitalize="off"
           spellcheck="false"
           placeholder="поиск"><br/>
    <input type="hidden" name="shiftId" th:value="${curShiftId}">
    <div class="teams-container">
        <div th:replace="team/_teams_list :: teams"></div>
    </div>

    <a th:if="${isModerator} or ${isAdmin}" th:href="@{'/team/add?shiftId='+__${curShiftId}__}">Добавить команду</a>

</div>

<div layout:fragment="scripts">
    <script type="text/javascript" src="/static/scripts/search.js"></script>
</div>
</body>
</html>