<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Show shifts</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="teams-container">
            <label>Teams</label>
            <div th:replace="teams/_teams :: teams" ></div>
        </div>

        <div class="speakers-container">
            <label>Speakers</label>
            <div th:replace="teams/_speakers :: speakers" ></div>
        </div>

        <div class="forums-container">
            <label>Forums</label>
            <div th:replace="teams/_forums :: forums" ></div>
        </div>
    </div>

    <div layout:fragment="scripts">

    </div>
</body>
</html>