<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Edit shift</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{edit}" th:object="${shiftEditForm}" method="POST">
        <p>
            <label>Название
                <input th:field="*{name}" type="text">
                <label th:text="${shiftNameError}">Error</label>
            </label>
        </p>
        <p>
            <label>Дата начала
                <input th:field="*{startDate}" type="date">
                <label th:text="${startDateError}">Error</label>
            </label>
        </p>
        <p>
            <label>Дата конца
                <input th:field="*{endDate}" type="date">
                <label th:text="${endDateError}">Error</label>
            </label>
        </p>
        <label th:text="${activityIdError}">Error</label><br/>
        <input type="submit" value="Обновить">
    </form>
</div>
</body>
</html>