<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Add forum</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/editor/event/add}" th:object="${eventForm}" method="POST">
        <p>
            <label>Название
                <input th:field="*{name}" type="text">
                <label th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}">error
                </label>
            </label>
        </p>
        <p>
            <label>Дата и время начала
                <input th:field="*{startDatetime}" type="datetime-local">
                <label th:if="${#fields.hasErrors('startDatetime')}"
                       th:errors="*{startDatetime}">error
                </label>
            </label>
        </p>
        <p>
            <label>Дата и время конца
                <input th:field="*{endDatetime}" type="datetime-local">
                <label th:if="${#fields.hasErrors('endDatetime')}"
                       th:errors="*{endDatetime}">error
                </label>
            </label>
        </p>
        <p>
            <label>Место
                <input th:field="*{place}" type="text">
                <label th:if="${#fields.hasErrors('place')}"
                       th:errors="*{place}">error
                </label>
            </label>
        </p>
        <p>
            <label>Описание
                <input th:field="*{description}" type="text">
                <label th:if="${#fields.hasErrors('description')}"
                       th:errors="*{description}">error
                </label>
            </label>
        </p>
        <p>
            <label>Спикеры
                <select th:name="speakersId" multiple>
                    <th:block th:each="speaker, stat : ${speakers}">
                        <option selected
                                th:value="${speaker.getId()}"
                                th:text="|${speaker.getFirstName()} ${speaker.getLastName()}|">Speaker
                        </option>
                    </th:block>
                </select>
                <label th:if="${#fields.hasErrors('speakersId')}"
                       th:errors="*{speakersId}">error
                </label>
            </label>
        </p>
        <label th:if="${#fields.hasErrors('shiftId')}"
               th:errors="*{shiftId}">error
        </label>
        <input type="hidden" th:field="*{shiftId}">
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>