<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Add forum</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{add}" th:object="${eventForm}" method="POST">
        <p>
            <label>Название
                <input th:field="*{name}" type="text">
                <label th:text="${nameError}">Error</label>
            </label>
        </p>
        <p>
            <label>Дата и время
                <input th:field="*{datetime}" type="datetime-local">
                <label th:text="${datetimeError}">Error</label>
            </label>
        </p>
        <p>
            <label>Место
                <input th:field="*{place}" type="text">
                <label th:text="${placeError}">Error</label>
            </label>
        </p>
        <p>
            <label>Описание
                <input th:field="*{description}" type="text">
                <label th:text="${descriptionError}">Error</label>
            </label>
        </p>
        <p>
            <label>Спикеры
                <select th:name="speakersId" multiple>
                    <th:block th:each="speaker, stat : ${speakers}">
                        <option selected
                                th:value="${speaker.getId()}"
                                th:text="|${speaker.getFirstName()} ${speaker.getLastName()}|">Speaker
                        </option>
                    </th:block>
                </select>
            </label>
        </p>
        <label th:text="${shiftIdError}">Error</label><br/>
        <label th:text="${speakersIdError}">Error</label><br/>
        <input type="submit" value="Создать">
    </form>
</div>
</body>
</html>