<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Show activities</title>
</head>
<body>
<div layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th><a th:href="@{/editor/shift/__${shiftId}__}">Back to shift</a></th>
        </tr>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>start</th>
            <th>end</th>
            <th>place</th>
            <th>description</th>
            <th>speakersCount</th>
            <th>Edit</th>
            <th>Delete</th>
            <th><a th:href="@{/editor/event/add(shiftId=__${shiftId}__)}">add</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event:${events}">
            <td th:text="${event.id}"></td>
            <td th:text="${event.name}"></td>
            <td th:text="${event.startDatetime}"></td>
            <td th:text="${event.endDatetime}"></td>
            <td th:text="${event.place}"></td>
            <td th:text="${event.description}"></td>
            <td th:text="${event.speakers.size()}"></td>
            <!--<td><a th:href="@{/editor/event/__${event.id}__/show}">Show</a></td>-->
            <td><a th:href="@{/editor/event/__${event.id}__/edit}">Edit</a></td>
            <td><a th:href="@{/editor/event/__${event.id}__/delete}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>