<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Выберите смену</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid wrapper choosing-div">
        <div class="header-app">
            <a th:href="@{/entrance/1}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <div class="wrapper-h2">
                <h2 th:text="|Выберите смену|" class="choose-h2"></h2>
            </div>
        </div>
        <form th:action="@{/entrance/3}" th:object="${choosingShiftForm}" method="POST">
            <div class="wrapper-cards">
                <div class="btn-group" data-toggle="buttons">
                    <th:block th:each="shift:${shifts}">
                        <label class="btn  col-lg-12 choose-card">
                            <input th:value="${shift.id}" th:field="*{shiftId}" type="radio">
                            <div class="card-body">

                                <h5 th:text="|Смена ${shift.name}|" class="card-title"></h5>
                                <p th:text="${shift.getFormatStartDate()}" class="card-text info-date-shift"></p>
                                <p th:text="| - |" class="card-text info-date-shift"></p>
                                <p th:text="${shift.getFormatEndDate()}" class="card-text info-date-shift"></p>
                            </div>
                        </label>
                    </th:block>
                </div>
            </div>
                <button type="submit" class="btn btn-info btn-next">Далее</button>
        </form>
    </div>
    <!--<form th:action="@{3}" th:object="${choosingShiftForm}" method="POST">-->
        <!--<label>Смена-->
            <!--<select name="shiftId">-->
                <!--<option value="0" selected>Выберите смену</option>-->
                <!--<option th:each="shift: ${shifts}"-->
                        <!--th:value="${shift.id}"-->
                        <!--th:text="${shift.name}">-->
                <!--</option>-->
            <!--</select>-->
        <!--</label>-->
        <!--<button type="submit">Далее</button>-->
    <!--</form>-->
</div>
</body>
</html>