<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid wrapper login-div">
        <div class="hidden-div"></div>
        <a th:href="@{/entrance/1}">
            <button class="btn btn-primary btn-login center-block">
                <img src="/static/images/google.jpg"/>
                Вход через Google
            </button>
        </a>
    </div>
</div>
</body>
</html>