<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/app}"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid wrapper login-div">
        <div class="info-logo-div">
            <img class="home-img"  src="/static/images/agenda.svg"/>
            <h2>Календарь форумчанина</h2>
        </div>
        <a th:href="@{/entrance/1}">
            <button class="btn  btn-login center-block">
                <img src="/static/images/google.jpg"/>
                Вход через Google
            </button>
        </a>
    </div>
</div>
</body>
</html>