
@media (min-width: 0px){
    .wrapper{
        width: 100%;
    }
}

@media (min-width: 500px){

    .wrapper{
        width: 500px;
    }
}

html, body{
    height:100%;
    font-family: 'Roboto', sans-serif;
}

.personal-head .ref-info{
    margin-left: 30px;
}

.link {
    cursor: pointer;
}

.wrapper{
    /* height: 730px; */
    height: 100vh;
    border: 1px solid black;
    /*overflow-y: auto;*/
}

.space-icon{
    margin: 0 10px;
}

.status-icon{
    width:30px;
    margin-left: auto;
}

.wrapper::-webkit-scrollbar{
    width: 8px;
}

.btn-save{
    background-color: #46CFED;
    border-color: #46CFED;
    color:white;
}

.wrapper::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.wrapper::-webkit-scrollbar-track{
    border-radius: 10px;
}

.login-div{
    background-color: rgba(238, 238, 238, 0.212);
    padding-top:10vh;
    display:flex;
    flex-direction: column;
}

.info-logo-div{
    width:70%;
    text-align: center;
    margin: 20vh auto;

}

/*.hidden-div{*/
    /*flex:1;*/
/*}*/

.home-img{
    width:50px;
    height:auto;
}

.btn-login{
    display: block;
    margin: 0 auto;
    font-size: 18px;
    background-color: #46CFED;
    border-color: #46CFED;
    color:white;
    /* padding:2px 5px 2px 2px;
    bottom:10%; */
    /* border-radius: 50px; */
}

.btn-login:hover,
.btn-login:active,
.btn-login:focus{
    background-color: #45c1ed;
    border-color: #45c1ed;
}

.btn-login img {
    width:35px;
    height:35px;
    margin: 0 5px 0 0;
}


.header-app{
    text-align: center;
    background-color: #46CFED;
    color:white;
    /*box-shadow: 0 8px 15px -8px #7d7d7d;*/
    box-shadow: 0 4px 14px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.12);
    margin: 0 -15px;
    height:68px;
    display:flex;
    align-items: center;
    /*justify-content: center;*/
    padding:15px;
}


.card-header-event .like-div div,
.card-header-event .dislike-div div{
    width: 30px;
    height: 30px;
    background-size: 30px;
}

.dislike-empty{
    background-size: 40px;
    background: url('/images/dislike-empty.svg') no-repeat;
}

.dislike{
    background-size: 40px;
    background: url('/images/dislike.svg') no-repeat;
}

.like{
    background-size: 40px;
    background: url('/images/like.svg') no-repeat;
}

.like-empty{
    background-size: 40px;
    background: url('/images/like-empty.svg') no-repeat;
}

.choosing-div{
    background-color: white;
    overflow: hidden !important;
    /*padding-bottom: 40px;*/
    /*padding-top: 15px;*/
}

.wrapper-cards{
    height: 70vh;
    margin:20px 0 20px 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding:5px;
}

.card-choose-team{
    overflow-y: auto;
}

.wrapper-cards::-webkit-scrollbar{
    width: 8px;
}

.wrapper-cards::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.wrapper-cards::-webkit-scrollbar-track{
    border-radius: 10px;
}

.choose-card{
    /*margin: 10px 0;*/
    text-align: left;
    border-radius: 8px !important;
    /*box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.12);*/
    /*box-shadow: 0 3px 1px rgba(0,0,0,0.12);*/
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.12);
    /* background-color: rgb(71, 130, 197); */
    background-color: #FAFAFA;
    color:black;
    /*height:120px;*/
}

.choose-card:hover{
    /*background-color: rgb(243, 242, 242) !important;*/
    border: 2px solid #46CFED;
}

.choose-card.active{
    border: 2px solid #46CFED;

}

.choose-card .card-body{
    padding:10px 10px 30px 10px;
    display: flex;
}

/*.choose-card .card-body div{*/
    /*margin:0 !important;*/
    /*padding-left: 0px !important;*/
    /*padding-right: 20px !important;*/
/*}*/

@media (max-width: 500px){
    .card-body .img-card-div{
        padding-left: 0 !important;
    }
}

.main-info-event .forum-info{
    width:100%;
}



.members-div{
    overflow-y: auto;
    height: 80vh !important;
}

.members-div::-webkit-scrollbar{
    width: 8px;
}

.members-div::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.members-div::-webkit-scrollbar-track{
    border-radius: 10px;
}


.img-activity{
    width:100%;
    border-radius: 50%;
}

.map-icon{
    width:15px;
    vertical-align: inherit;
}

.calendar-icon{
    width:20px;
    vertical-align: top;
}

.plus-icon{
    width:70px;
}

.place-line{
    margin-top: 10px;
    color: #8A8A8A;
}

.admin-panel-event{
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
}

.admin-panel-event img{
    width: 20px;
    margin: 0 10px;
}


.back-icon{
    width:25px;
    float: left;
}

.sign-out-icon{
    width:35px;
    margin-left:30px;
}
/*.choose-card input{*/
    /*margin-top: 10px;*/
    /*position: absolute;*/
    /*top:0;*/
/*}*/




/*.wrapper-h2{*/
    /*display: inline-block;*/
    /*width: 90%;*/
/*}*/

.choose-h2{
    margin: 0 auto;
    color: white;
}



.btn-next{
    width: 200px;
    display: block;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 7px;
    border-radius: 8px;
    background-color: #46CFED;
    color:white;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 3px 3px rgba(0,0,0,0.12);
}

.btn-next:hover{
    background-color: #45c1ed;
    /*text-decoration: none;*/
}

.fa-arrow-left{
    font-size: 30px !important;
    color: black;
}

.info-date-shift{
    display: inline-block;
}

.btn-group{
    display:block;
}

/*.btn-group .card-body{*/
    /*display: inline-block;*/
/*}*/

.btn-group .card{
    display: block;
}


.header-roles{
    text-align: left;
}

.role-label{
    width: auto;
    height: 30px;
}

.role-label:hover{
    cursor: pointer;
}

.group-roles{
    margin: 0 auto;
    width: 150px;
    font-size: 24px;
}

.role-cards{
    height: 40vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    margin-bottom: 50px;
}

.title-team-choose{
    display: inline-block;
}

.team-group label{
    text-align: left;
    padding: 15px;
}

.header-main{
    height: auto;
    background-color: #46CFED;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 5px rgba(0,0,0,0.12);
}


.header-main div{
    margin-left:-15px;
}

.header-main>div>h6{
    margin: 0 25px;
}

.header-main h4{
    margin: 0 20px;
    font-size: 1.8em;
}

@media (max-width: 450px){
    .header-main h4{
        margin: 0;
        font-size: 1.5em;
    }

    .header-main{
        flex-wrap: nowrap;
        padding: 30px 30px 10px 10px;
    }

    .content-main{
        padding: 0 !important;
    }
}

.header-main a{
    color: white;
}

@media (min-width: 451px) {

    .img-profile {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

.img-profile {
    border-radius: 50%;
}


@media (max-width: 400px) {

    .img-profile{
        width:70px;
        height:70px;
    }
}

@media (max-width: 600px) {

    .img-profile{
        width:70px;
        height:70px;
    }
}


.plus-icon-edit{
    width:25px;
    vertical-align: sub;
}


/*.fa-sign-out{*/
    /*font-size: 35px !important;*/
/*}*/

.content-main{
    background-color: white;
    /* height:80vh; */
    padding: 0 40px;
    margin: 30px -15px;
}

/*.content-main .fa{*/
    /*color: rgb(88, 88, 88);*/
/*}*/

.content-main a{
    color: #3B3B3B;
}

.content-line{
    margin: 20px 0;
}

.content-line{
    vertical-align: sub;
}

.content-line h4{
    display: inline-block;
    margin-left:10px;
}

.content-line h5{
    display: inline-block;
    margin-left:10px;
}

.content-line .fa{
    font-size: 30px !important;
    width:30px;
    text-align: center;
}



/* .header-members{
    background-color: #4A90E2;
    height:12vh;
    padding:10px 20px;

}

.header-members .fa-arrow-left{
    font-size: 25px !important;
    color: black;
}

.header-members .fa-search{
    font-size: 25px !important;
    float: right;
}

.content-tabs{
    height:87.5vh;
    background-color: rgb(217, 231, 163);
    padding:20px;
}

.content-tabs h4{
    margin: 10px 0;
} */

.nav-tabs{
    margin: 0 -15px;
}

.header-members{
    box-shadow: 0 4px 14px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.12);
}

.header-personal{
    background-color: #46CFED;
    margin: 0 -15px;
    padding: 20px;
    display: flex;
    align-items:flex-start;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.12);
}

.header-personal .back-icon{
    width:30px;
}

.refresh{
    margin-left: auto;
    margin-right:10px;
}

@media (max-width: 450px){
    .header-personal{
        padding: 10px;
    }

    .map-info{
        margin-top: 15px !important;
    }

    .personal-head{
        padding-top:10px;
    }

    .forum-info div{
        padding-right: 0 !important;
    }
}


/*.header-personal .fa{*/
    /*font-size: 30px !important;*/
    /*margin: 0 10px;*/
    /*color: white;*/
/*}*/

/*.header-personal .fa-refresh,*/
/*.header-personal .fa-ellipsis-v,*/
/*.header-personal .fa-pencil{*/
    /*float: right;*/
    /*display: block;*/
/*}*/

.personal-head{
    background-color: #46CFED;
    color:white;
}

.wrapper-personal{
    display: flex;
    flex-direction: column;
}

/*.personal-head .map-info{*/
    /*margin: 25px 0 0 25px;*/
/*}*/

.content-personal{
    height: 69vh;
    background-color: white;
    margin: 10px -15px;
}

.contacts-info-edit input{
    /*margin-left:5px !important;*/
}

.contacts-info-edit .content-line .back-icon{
    margin-right:-10px;
}

.forum-info{
    padding: 20px;
}

.forum-info >h4{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(133, 127, 127);
}

.forum-info div{
    display: inline-block;
    /*padding-right:50px;*/
}

.check-btn{
    background-color: unset;
    border: none;
}

.check-btn:active,
.check-btn:focus,
.check-btn:active:focus{
    border:none;
    outline: none;
}

.info-div{
    color: rgb(94, 94, 94);
}

.forum-info .fa{
    font-size: 25px !important;
}

.forum-info .content-line{
    margin: 10px 0;
}

.name-div{
    padding-left:15px;
}



.header-settings .fa-arrow-left{
    float:left;
}

.header-settings .fa-check{
    float:right;
}

.header-settings{
    text-align:center;
    height:12vh;
    display:flex;
    justify-content: space-between;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.12);
    /*flex-direction: column;*/
}

.header-settings .check-btn{
    /*align-self: flex-end;*/
    /*margin-left: auto;*/
}

.header-settings label{
    display: inline-block;
    /*position: relative;*/
    /*margin:0 auto;*/
    background: url('../images/mask-img.png') center center no-repeat;
    background-size: 50px 50px;

}


.team-color{
    background-color: rgba(168, 227, 235, 0.46) !important;
}

.event-color{
    background-color: rgba(243, 245, 228, 0.35) !important;
}

.shifts-body .choose-card .card-body{
    justify-content: space-between;
}

.img-speakers{
    width:40px !important;
    height:40px !important;
}

.remove-btn-speaker{
    width:10px;
}

.header-settings a,
.header-settings label,
.header-settings .check-btn{
    display:inline-block !important;
}

.img-edit{
    position: relative;
    margin-top:10px;
    width: 120px;
    height:120px;
    border-radius: 60px;
    opacity: 0.3;
    margin: auto;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
}

.img-edit:hover{
    opacity: 0.4;
}

.mask-img{
    position: absolute;
    margin-left:-85px;
    margin-top:30px;
    width:50px;
    height:50px;
}

.edit-personal{
    padding-top: 50px;
    /* height: 88vh; */
}

.edit-personal input,
.edit-personal textarea{
    margin: 10px auto;
    width:90%;
}

.header-speaker{
    justify-content: space-between;
}

.info-div-speaker{
    text-align: justify;
}
/*.edit-personal .content-line .form-control{*/
    /*display: inline-block;*/
    /*width: 84%;*/
/*}*/



.header-edit{
    text-align: center;
    color: white;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.12);
}

.header-edit h4{
    display: inline-block;
}

@media (max-width: 450px){
    .header-edit h4{
        font-size: 20px;
    }
}

.header-edit .fa-check{
    float:right;
}

.header-edit .fa-arrow-left{
    float:left;
}

.add-event{
    height: 90vh;
    padding:20px 0;
}

.add-feedback{
    height:auto;
    margin-top: 30px;
    padding:0;
}

.add-event input,
textarea,
select{
    margin: 15px auto;
    resize: none;
}



.add-speaker-line{
    margin: 0 20px;
}

.add-speaker-line h5{
    display: inline-block;
    margin:15px 0 0 10px;

}

.add-speaker-line i{
    margin:15px 0 0 10px;
}

.cursor-edit:hover{
    cursor:pointer;
}




.header-team .fa-share-alt,
.header-team .fa-pencil,
.header-team .fa-graduation-cap{
    float:right;
}

.header-team h2{
    display: inline-block;
}

@media (max-width: 450px){
    .header-team h2{
        font-size: 20px;
    }

    .header-team .fa{
        font-size: 25px !important;
    }

    .member-line{
        margin: 10px auto !important;
    }

    .img-in-team{
        margin-right:10px !important;
    }

    .member-line .fa{
        font-size: 30px !important;
    }
}




.img-in-team{
    width: 70px;
    height:70px;
    border-radius: 35px;
    margin-right:20px;
}

.member-line{
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.member-line h4{
    display:inline-block;
    font-size:0.7rem !important;
}

@media (min-width: 451px){
    .member-line .fa{
        font-size: 40px !important;
    }
}

.member-line .fa{
    float: right;
    vertical-align: middle;
}


.forum-line{
    border-bottom:2px solid gray;
    margin: 0 auto;
    padding:20px 0;
}

.forum-digits {
    float: right;
}

.content-forum{
    height:88vh;
}





.header-forums .fa-search{
    float:right;
}

.forums-div{
    vertical-align: bottom;
    height:70vh;
}

/* .forums-footer{
    height:8vh;

    margin: 0 -15px;
}

.forums-footer .fa-plus-circle{
    font-size: 70px !important;
    float:right;
    margin-right:20px;
    margin-bottom: 20px;
} */



.header-add{
    height:10vh;
    color: white;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12), 0 4px 5px rgba(0,0,0,0.12);
}

.header-add h4,
.header-add .fa{
    display: inline-block;
}

.add-forum-div{
    margin: 0 auto;
}

.add-forum-div>input{
    margin: 10px 0;
}

.content-add{
    height:88vh;
    overflow-y:auto;
}

.content-add::-webkit-scrollbar{
    width: 8px;
}

.content-add::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.content-add::-webkit-scrollbar-track{
    border-radius: 10px;
}

.add-forum-shift div{
    padding-right:0;
}

.add-forum-shift h4{
    margin-bottom:20px;
}

.add-forum-shift h5{
    display: inline-block;
    margin-left:10px;
}


.edit-forum-list-shift{
    width:100%;
}

.edit-forum-list-shift .fa-trash{
    float:right;
}




/*КАЛЕНДАРЬ*/
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 100%;
    padding: 35px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 14px;

    background: #fdfdfd;

    /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; */

    /* -webkit-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0);
    box-shadow: 0px 1px 1px rgba(255,255,255, .1), inset 0px 1px 1px rgb(0,0,0); */
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #4A90E2;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #2e2626;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #645959;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #4A90E2;
    background: -moz-linear-gradient(top, #4A90E2  0%, #4A90E2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#4A90E2));
    background: -webkit-linear-gradient(top, #4A90E2  0%,#4A90E2 100%);
    background: -o-linear-gradient(top, #4A90E2  0%,#4A90E2 100%);
    background: -ms-linear-gradient(top, #4A90E2  0%,#4A90E2  100%);
    background: linear-gradient(top, #4A90E2  0%,#4A90E2  100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 30px;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 5px;
    height: 10px;
    /* text-indent: -9999px;

   background-image: url("../images/left-arrow.png") */
}

/* .ui-datepicker-prev span { background-position: 0px 0px; }

.ui-datepicker-next span { background-position: -5px 0px; }

.ui-datepicker-prev-hover span { background-position: 0px -10px; }

.ui-datepicker-next-hover span { background-position: -5px -10px; } */

.hasDatepicker{
    margin: 0 auto;
}

.ui-datepicker{
    width: 100%;
    margin: 0 auto;
}

.ui-datepicker-calendar{
    width: 100%;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #463f3f;
}

.ui-datepicker-calendar td {
    padding: 0 7px;

    text-align: center;
    line-height: 40px;
    border: 1px solid #4A90E2;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width:auto;
    outline: none;

    text-decoration: none;
    color: #362e2e;

    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    /* color: black;
    background-color: #6a9113; */
    /* border: 1px solid #6a9113; */
}

.ui-datepicker-calendar .ui-datepicker-current-day{
    color: black;
    background-color: rgb(113, 173, 241);

}

.ui-datepicker-other-month .ui-state-default { color: #565656; }

/*************************************/


.calendar-content{
    height:89vh;

}




.fa-search{
    float: right;
}

a:hover{
    text-decoration: none;
}


.ref-info{
    margin-top:10px;

}

.ref-info h6{
    font-size: 0.8rem;
}


.speakers-events{
    width: 100%;
}

.forum-info .choose-card{
    width:100%;
}


.cards-events-speaker{
    overflow: hidden;

    height:auto;
}

.cards-speaker{
    padding:15px;
    overflow: hidden;
    height:auto;
}

.cards-speaker .choose-card{
    margin: 15px 0;
}

.content-speaker{
    overflow-y: auto;
    height: 63vh;
}

.content-speaker::-webkit-scrollbar{
    width: 8px;
}

.content-speaker::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.content-speaker::-webkit-scrollbar-track{
    border-radius: 10px;
}


@media (max-width: 450px){
    .modal-edit-personal{
        margin-top:45px !important;
    }
}

.modal-edit-personal{
    position: absolute;
    right:0;
    margin: 10px;
    margin-top:20px;
    width:180px;
}

.modal-edit-personal .modal-body,
.modal-edit-personal .modal-header{
    padding: 5px;
}

.not-backdrop-modal .modal-backdrop {
    background-color: transparent;
}


.modal-edit-team{
    margin: 0 auto;
    width:90%;
}

.add-team-btn i{
    color: rgb(55, 110, 172);
}


.modal-info-event .content-line{
    margin: 0;
}
.modal-info-event .modal-header a{
    float:right;
}
.modal-info-event .fa-pencil{
    font-size:20px;
    text-align: right;
}


.modal-info-event .modal-header{
    display: inline-block;
}

.modal-info-event .modal-header h4{
    display: inline-block;
}
.modal-info-event .modal-header .close{
    margin-left:0;
}

.modal-info-event .forum-info{
    padding:0 15px;
}

.modal-info-event .forum-info p{
    text-align: justify;
}

.modal-info-event .forum-info .img-profile{
    width:70px;
    height:70px;
    border-radius: 35px;
    vertical-align: bottom;
}

.modal-info-event .forum-info .info-div{
    text-align: justify;
    padding-right: 0;
}

#infoEvent .modal-content .modal-body{
    height:70vh;
    overflow-y: auto;
}

#infoEvent .modal-content .modal-body::-webkit-scrollbar{
    width: 8px;
}

#infoEvent .modal-content .modal-body::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

#infoEvent .modal-content .modal-body::-webkit-scrollbar-track{
    border-radius: 10px;
}

#infoEvent .modal-header .fa-pencil{
    color: black;
}

@media (max-width: 450px){
    #infoEvent .modal-content .modal-body{
        padding: 0;
    }

    #infoEvent .modal-header h4{
        font-size: 18px;
    }
}

.modal-info-event .modal-footer{
    display: block;
    padding: 10px 15px;
    padding-bottom:0;
    text-align: center;
}

.modal-info-event .modal-footer .like-div,
.modal-info-event .modal-footer .dislike-div{
    float:left;
}

.modal-info-event .modal-footer .dislike-div{
    margin-left:20px;
}

.modal-info-event .modal-footer .fa-star-o{
    float:right;
}

.modal-info-event .modal-footer .fa{
    font-size: 30px;
}



@media (max-width: 450px){
    .header-shedule h2{
        font-size: 26px;
    }
}

.shedule-div{
    height:79vh;
    overflow-y: auto;
    margin-top:0;
    margin-bottom: 0;
    margin-right: -15px;

}

.fav-div{
    height: 85vh;
    margin-right: 0 !important;
}


.shedule-div .choose-card{
    background-color: rgb(252, 252, 252);
    color:black !important;
    margin: 20px auto;
}

.shedule-div .choose-card .card-body{
    padding-left: 20px;
    padding-top:20px;
}

.choose-card{
    color: black !important;
}

.shedule-div::-webkit-scrollbar{
    width: 8px;
}

.shedule-div::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.shedule-div::-webkit-scrollbar-track{
    border-radius: 10px;
}


.shedule-wrapper{
    position: relative;
}

.plus-add-event{
    position: absolute;
    bottom:15px;
    right:30px;
    font-size: 70px !important;
    /* color: #dbcdb6; */
}


.favorite-ref{
    float: right;
    color: yellow !important;
}

@media (max-width: 450px){
    #editModalTeam .modal-header h4{
        font-size: 20px;
    }

    .header-shifts h2{
        font-size:24px;
    }


    .header-edit-shift h2{
        font-size:24px;
    }
}

.shifts-body{
    margin-top: 20px;
}

.team-div a{
    color: black;
}

.forums-div a{
    color: black;
}

.speakers-wrapper .member-line{
    justify-content: space-between;
    padding-left:0 !important;
}

.speakers-wrapper{
    height:80vh !important;
    overflow-y: auto;
}

.speakers-wrapper::-webkit-scrollbar{
    width: 8px;
}

.speakers-wrapper::-webkit-scrollbar-thumb{
    background: #a9e8f1;
    border-radius: 10px;
}

.speakers-wrapper::-webkit-scrollbar-track{
    border-radius: 10px;
}

.plus-add-forum{
    color: rgb(63, 122, 189);
}

.forum-info a{
    color: black;
}

.content-shifts .fa-trash{
    font-size: 20px !important;
}


.day-shedule{
    margin-top:10px;
}


.card-header-event div{
    display: inline-block;
}

.card-header-event .fa{
    font-size: 25px !important;
}

.card-header-event .dislike-div{
    margin-left:15px;
}

.card-header-event .fa-star-o{
    float:right;
}

.card-header-event{
    padding-bottom: 0;
    display: flex;
}

.event-fav-toggle{
    margin-left: auto;
}

.event-card-body .fa-angle-down,
.event-card-body .fa-angle-up{
    float:right;
    font-size: 20px;
    /* border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid white; */
}

.event-card-body .fa-angle-up{
    display: none;
}

.event-card-body .content-line-event,
.event-card-body .div-speakers,
.event-card-body .info-event{
    display: inline-block;

}

.event-card-body{
    flex-direction: column;
    display: flex;
    padding-left:0 !important;
}


.event-card-body .main-info-event{
    flex-direction: row;
    display: flex;
    padding-right:0 !important;

}

.event-card-body .div-caret{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-bottom: -5px;
    justify-content: flex-end;
}

@media (max-width: 450px){
    .event-card-body .div-caret{
        margin-left:0 !important;
    }
}

.event-card-body{
    padding-right:0;
    padding-left:0;
    padding-bottom: 20px !important;
}


.content-line-event .fa{
    margin-right:10px;
    display: inline-block;
}


.content-line-event{
    width:100%;
    margin-bottom:10px;
}




.dop-info-div{
    display: none;
    margin-top:20px;
}


.dop-info-div div{
    display: inline-block;
}

.dop-info-div .img-profile{
    vertical-align: bottom;

}

.dop-info-div h4{
    margin-left:15px;
}

/* .dop-info-div .info-div{
    color: white;
} */


.login-div{
    overflow: hidden;
}


.favorite-event .fa-times{
    float: right;
    font-size: 20px !important;
}

.favorite-event{
    margin-left:20px !important;
}


@media (max-width: 450px){
    .favorite-event{
        margin-left:10px !important;
    }
}

.card-favorite-body{
    padding-right:0;
    padding-left: 0;
}

.card-favorite-body div{
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.fav-speakers{
    height:70vh !important;
}


.search-div{
    display:none;
    background-color: #46CFED;
}

.search-div div{
    margin: 0 auto;
}


.wrapper-fav-speakers div{
    display: inline-block;
}


.card-body-add-speaker .infoname-div,
.card-body-add-speaker .img-div{
    display: inline-block;
    vertical-align: top;

}

.card-body-add-speaker .infoname-div{
    padding-left: 0;
}

.card-shift a{
    display: flex;
}

.card-shift{
    margin: 15px 0;
}

.card-shift .back-icon{
    align-self: flex-start;
    width:20px;
}

.choose-card a{
    cursor: pointer;
    color:black !important;
    text-decoration: none;
}

.card-body-add-speaker{
    display: block !important;
    margin: 0;
    padding-bottom: 0 !important;

}

.card-body-add-speaker .img-profile{
    vertical-align: bottom;
}

.card-body-add-speaker .div-caret{
    margin-bottom: 5px;
}

.about-speaker p{
    white-space: normal;
}


.add-shift-modal input{
    margin: 10px;
}

.added-shift {
    /*border: 1px solid;*/
    /*border-color: #333333;*/
    padding: 5px;
    margin: 10px;
}
.invalid-feedback {
    margin: 15px auto;
    display: block;
}

.form-control {
    margin-bottom: 0 !important;
}
.remove-added-shift{
    align-self: flex-end;
}