.team-member{
    display: -webkit-inline-box;
    border: 1px solid;
    border-color: #333333;
    padding: 5px;
    margin: 10px;
}

.team, .speaker, .forum, .event, .speaker-events-container{
    text-align: center;
    display: inline-grid;
    border: 1px solid;
    border-color: #333333;
    padding: 5px;
    margin: 10px;
}
